// -----------------------------------------------------------------------------
// WIDTHS
// -----------------------------------------------------------------------------

// A mixin to spit out our width classes. Pass in the columns we want, the widths
// to have, and an optional suffix for responsive widths. E.g. to create thirds
// and quarters for a small breakpoint:
//
// @include widths(3 4, \@small);

@mixin widths($widths-columns, $widths-breakpoint: null) {

    .width-full#{$widths-breakpoint} {
        width: 100% !important;
    }

    // Loop through the number of columns for each denominator of our fractions.
    @each $widths-denominator in $widths-columns {

        // Begin creating a numberator for our fraction up until we hit the
        // denominator.
        @for $widths-numerator from 1 through $widths-denominator {

            // Build a class in the format `.width-3/4`.
            @if $widths-numerator != $widths-denominator {
                .width-#{$widths-numerator}\/#{$widths-denominator}#{$widths-breakpoint} {
                    width: ($widths-numerator / $widths-denominator) * 100% !important;
                }
            }

        }

    }
}

// A series of width helper classes that you can use to size things like grid
// systems. Classes take a fraction-like format (e.g. `.width-2/3`).
// Use these in your markup:
//
// <div class="width-1/4">
//

@include widths(2 3 4 10);

@include small {

    @include widths(2 3 4 10, \@small);

}

@include medium {

    @include widths(2 3 4 10, \@medium);

}

@include large {

    @include widths(2 3 4 10, \@large);

}
