
.u-mb-0 {
    margin-bottom: 0 !important;
}

.u-mb {
    margin-bottom: $base-spacing-unit !important;
}

.u-mb\+\+ {
    margin-bottom: round(2 * $base-spacing-unit) !important;
}

.u-mb-- {
    margin-bottom: round(.5 * $base-spacing-unit) !important;
}
