html {
    @include font-family(sans-serif);
    font-size: ($base-font-size / 16px) * 1em;
    line-height: $base-line-height / $base-font-size;
    background-color: $color-page-background;
    color: $color-page-text;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
    min-height: 100%;
}

body {
    position: relative;
    height: 100%;
}
