@font-face {
    font-family: "metric";
    font-weight: 600;
    font-style: normal;
    src:    url("../static/fonts/MetricWeb-Regular.eot");
    src:    url("../static/fonts/MetricWeb-Regular.eot?#iefix") format("embedded-opentype"),
            url("../static/fonts/MetricWeb-Regular.woff2"),
            url("../static/fonts/MetricWeb-Regular.woff");
}

@font-face {
    font-family: "metric";
    font-weight: 700;
    font-style: normal;
    src:    url("../static/fonts/MetricWeb-Medium.eot");
    src:    url("../static/fonts/MetricWeb-Medium.eot?#iefix") format("embedded-opentype"),
            url("../static/fonts/MetricWeb-Medium.woff2"),
            url("../static/fonts/MetricWeb-Medium.woff");
}

@font-face {
    font-family: "metric";
    font-weight: 900;
    font-style: normal;
    src:    url("../static/fonts/MetricWeb-Semibold.eot");
    src:    url("../static/fonts/MetricWeb-Semibold.eot?#iefix") format("embedded-opentype"),
            url("../static/fonts/MetricWeb-Semibold.woff2"),
            url("../static/fonts/MetricWeb-Semibold.woff");
}

@font-face {
    font-family: "metric";
    font-weight: 400;
    font-style: normal;
    src:    url("../static/fonts/MetricWeb-Light.eot");
    src:    url("../static/fonts/MetricWeb-Light.eot?#iefix") format("embedded-opentype"),
            url("../static/fonts/MetricWeb-Light.woff2"),
            url("../static/fonts/MetricWeb-Light.woff");
}

@font-face {
    font-family: "metric";
    font-weight: 400;
    font-style: italic;
    src:    url("../static/fonts/MetricWeb-LightItalic.eot");
    src:    url("../static/fonts/MetricWeb-LightItalic.eot?#iefix") format("embedded-opentype"),
            url("../static/fonts/MetricWeb-LightItalic.woff2"),
            url("../static/fonts/MetricWeb-LightItalic.woff");
}

@font-face {
    font-family: "metric-light";
    font-weight: normal;
    font-style: normal;
    src:    url("../static/fonts/MetricWeb-Light.eot");
    src:    url("../static/fonts/MetricWeb-Light.eot?#iefix") format("embedded-opentype"),
            url("../static/fonts/MetricWeb-Light.woff2"),
            url("../static/fonts/MetricWeb-Light.woff");
}

@font-face {
    font-family: "metric-light-italic";
    font-weight: normal;
    font-style: normal;
    src:    url("../static/fonts/MetricWeb-LightItalicLightItalic.eot");
    src:    url("../static/fonts/MetricWeb-Light.eot?#iefix") format("embedded-opentype"),
            url("../static/fonts/MetricWeb-LightItalic.woff2"),
            url("../static/fonts/MetricWeb-LightItalic.woff");
}

@font-face {
    font-family: "metric-regular";
    font-weight: normal;
    font-style: normal;
    src:    url("../static/fonts/MetricWeb-Regular.eot");
    src:    url("../static/fonts/MetricWeb-Regular.eot?#iefix") format("embedded-opentype"),
            url("../static/fonts/MetricWeb-Regular.woff2"),
            url("../static/fonts/MetricWeb-Regular.woff");
}

@font-face {
    font-family: "metric-medium";
    font-weight: normal;
    font-style: normal;
    src:    url("../static/fonts/MetricWeb-Regular.eot");
    src:    url("../static/fonts/MetricWeb-Regular.eot?#iefix") format("embedded-opentype"),
            url("../static/fonts/MetricWeb-Regular.woff2"),
            url("../static/fonts/MetricWeb-Regular.woff");
}

@font-face {
    font-family: "metric-semibold";
    font-weight: normal;
    font-style: normal;
    src:    url("../static/fonts/MetricWeb-Semibold.eot");
    src:    url("../static/fonts/MetricWeb-Semibold.eot?#iefix") format("embedded-opentype"),
            url("../static/fonts/MetricWeb-Semibold.woff2"),
            url("../static/fonts/MetricWeb-Semibold.woff");
}
