<link rel="apple-touch-icon" sizes="180x180" href="{{ site.paths.images }}/apple-touch-icon.png">
<link rel="icon" type="image/png" href="{{ site.paths.images }}/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ site.paths.images }}/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="{{ site.paths.images }}/manifest.json">
<link rel="mask-icon" href="{{ site.paths.images }}/safari-pinned-tab.svg" color="#7dc265">
<meta name="apple-mobile-web-app-title" content="Springload OSS">
<meta name="application-name" content="Springload OSS">
<meta name="theme-color" content="#ffffff">
