<div class="footer push-forward t-dark">
    <div class="page-width page-width--narrow section">
        <div class="grid ">
            <div class="grid-item">
              <h5>Company</h5>
              <ul class="list-inline">
                <li><a href="https://www.springload.co.nz/">About</a></li>
                <li><a href="https://www.springload.co.nz/jobs/">Jobs</a></li>
                <li><a href="https://www.springload.co.nz/contact-us/">Contact</a></li>
              </ul>
            </div>

            <div class="grid-item">
              <h5>Events</h5>
              <ul class="list-inline">
                <li><a href="https://www.meetup.com/Wellington-Wagtail-CMS-Meetup/">Wellington Wagtail CMS Meetup</a></li>
                <li><a href="https://www.meetup.com/React-Wellington/">React Wellington Meetup</a></li>
                <li><a href="https://www.meetup.com/Oulu-Web-Development/">Oulu Web Development</a></li>
              </ul>
            </div>

            <div class="grid-item">
              <h5>Discover</h5>
              <ul class="list-inline">
                <li><a href="https://www.springload.co.nz/blog/">Blog</a></li>
                <li><a href="https://github.com/springload">GitHub</a></li>
                <li><a href="https://www.twitter.com/springloadnz">Twitter</a></li>
              </ul>
            </div>
        </div>

    </div>
</div>
