{% import "ricky.html" as ricky %}

<div class="header">
        <div class="content-width u-auto">
            <div class="gutters">
                <a href="/">
                    {{ ricky.icon(icon="leaf") }}
                </a>

                <ul class="nav-primary width-3/4@medium">
                    <li class="nav-primary__link"><a href="https://github.com/springload">GitHub</a></li>
                    <li class="nav-primary__link u-color-brand"><a href="https://www.springload.co.nz/jobs/">We're Hiring!</a></li>
                </ul>
            </div>
        </div>
    </div>
