<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ site.twitter }}" />
<meta property="og:url" content="{{ site.domain }}" />
<meta property="og:title" content="{{ site.title }}" />
<meta property="og:description" content="{{ site.description }}" />
{# <meta property="og:image" content="" /> #}
<meta name="twitter:label1" value="Job openings">
<meta name="twitter:data1" value="3">
<meta name="twitter:label2" value="Klout score">
<meta name="twitter:data2" value="1337">
