// -----------------------------------------------------------------------------
// Justify grid - push items apart from each other
// -----------------------------------------------------------------------------

.grid--justified,
.grid--polar {
    text-align: justify;
    text-justify: distribute-all-lines;

    > * {
        text-align: left;
    }

    &:after {
        display: inline-block;
        width: 100%;
        content: '';
    }
}
