// -----------------------------------------------------------------------------
// Inline Grid
// -----------------------------------------------------------------------------

.grid {
    @include clearfix;
    margin:  0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

    .grid > * {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        font-size: medium; // Font-size medium reset the block to the context of body (ie, 16px)
        text-justify: auto;
    }

    .projects {
        border: 1px solid #ddd;
        padding: 1rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }

    .projects:nth-child(3n) {
        margin-right: 0;
    }
