// -----------------------------------------------------------------------------
// Flex grid
//
// Be weary of browser support when using this http://caniuse.com/#search=flex
// Make sure you bake in a fallback, either a no-flexbox detection with js
// https://github.com/springload/frontend-starter-kit/blob/master/core/static_src/js/utils/index.js#L169
// Or IE specific inline-block fallback? Dependant on your browser support,
// check out this list of issues and workarounds:
// https://github.com/philipwalton/flexbugs
//
// -----------------------------------------------------------------------------

.grid-flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
