// -----------------------------------------------------------------------------
// Float grid
// -----------------------------------------------------------------------------

.grid-float {
    @include clearfix;
    width: auto;
}

    .grid-float > * {
        float: left;
        width: 100%;
    }
