@mixin font-family($family) {

    @if ($family == 'sans-serif') {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    } @elseif ($family == 'serif') {
        font-family: 'Times New Roman', serif;
    } @else {
        @warn '#{$family} is not a valid font-family.'
    }

}



// Simple truncation mixin to cut off text using an ellipsis after a certain
// width.
//
// .simple-usage {
//   @include truncate();
// }
//
// .detailed-usage {
//   @include truncate(<value>);
// }
@mixin truncate($width: 100%) {
  max-width: $width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
