// -----------------------------------------------------------------------------
// Icon with text
// -----------------------------------------------------------------------------
//
// Useful for dropping a small icon next to a piece of text, with some spacing.
//
// <span class="icon-text">
//     <span>The text</span>
//     <svg>
//         <use xlink:href="#arrow-next">
//     </svg>
// </span>


.icon-text > svg {
    width: 1.25em;
    height: 1.25em;
    vertical-align: middle;
    margin-top: -.125em;
    margin-right: .25em;

    &:last-child {
        margin-right: 0;
        margin-left: .25em;
    }
}

.icon-text--small > svg {
    width: 1em;
    height: 1em;
    margin-top: -.125em;
}
