$height-logo: 2.25rem;

$height-header: $height-logo + (2 * $spacing-grid);

.page-header {
    @include clearfix;
    background-color: $color-page-header-background;
    color: $color-page-header;
    padding-top: $spacing-grid;
    padding-bottom: $spacing-grid;
    box-shadow: 0 3px 5px 0 rgba(63,63,63,0.30);
}

.page-header--fixed {
    position: fixed;
    z-index: 10;
    height: $height-header;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    + * {
        margin-top: $height-header;
    }
}

.headline-container {
    padding-top: 9%;
    padding-bottom: 9%;
}

.headline {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;

    font-size: 34px;

    @include medium {
        font-size: 46px;
    }

    @include large {
        font-size: 60px;
        max-width: 11em;
    }
}

.headline__subheading {
    font-weight: 600;
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;

    @include small {
        font-size: 19px;
    }

    @include xlarge {
        font-size: 25px;
    }
}
