.link-social {
    display: inline-block;
    line-height: 1;

    > .link-social__icon {
        width: 20px;
        height: 20px;
    }
}

    .link-social--invert {
        color: $color-white;
        padding: .25em .25em .125em;
    }


.link {
    transition: $base-transition;

    @include hover {
        color: $color-page-text;
    }
}

.link--tag {
    font-weight: $font-weight-bold;
    font-size: rem(18);
    line-height: 1.2;

    @include medium {
        font-size: rem(21);
        line-height: 1.1;
    }

    @include large {
        font-size: rem(23);
        line-height: 1.05;
    }
}


.link--underline {
    box-shadow: inset 0 -.062em 0 $color-white;

    @include hover {
        box-shadow: inset 0 -.062em 0 $color-page-text;
    }
}

.faux-link--underline {
    transition: $base-transition;
    box-shadow: inset 0 -.062em 0 $color-white;
}
