// --------------------------------------------------
// Button groups
// --------------------------------------------------

$button-margin: .5em;

@mixin justify-table {
    display: table;
    min-width: 100%;
    margin-right: -$button-margin;
    margin-left: -$button-margin;
    border-collapse: separate;
    border-spacing: $button-margin 0;
    table-layout: fixed;

    > * {
        display: table-cell;
        float: none;
        width: 1%;
    }
}

.btn-group > * {

    display: inline-block;
    margin-right: $button-margin;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;

    &:last-child {
        margin-right: 0;
    }

}

.btn-group--block > * {
    width: 100%;
    margin-right: 0;

    &:not(:last-child) {
        margin-bottom: $button-margin * 2;
    }
}

.btn-group--block\@small > * {
    @include small {
        width: 100%;
        margin-right: 0;
        margin-bottom: $spacing;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.btn-group--justified {
    @include justify-table;

    white-space: nowrap;
}

.btn-group--justified\@small {
    @include small {
        @include justify-table;
    }
}

.btn-group--reverse\@small {
    @include small {
        display: flex;
        flex-direction: column-reverse;

        > * {
            margin-top: $button-margin * 2;
            margin-bottom: 0;
        }

        > *:last-child {
            margin-top: 0;
        }
    }
}
