// --------------------------------------------------
// Buttons
// -------------------------------------------------

// 1. Allow us to style box model properties.
// 2. Line different sized buttons up a little nicer.
// 3. Make buttons inherit font styles (often necessary when styling `input`s as
//    buttons).
// 4. Reset/normalize some styles.
// 5. Force all button-styled elements to appear clickable.
// 6. Subtract the border size from the padding value so that buttons do not
//    grow larger as we add borders.
// 7. Stop buttons wrapping and looking broken.
// 8. If the button’s text is 1em, and the button is (2.5 * font-size) tall, then
//    there is 1em of space above and below that text. We therefore apply 1em
//    of space to the left and right, as padding, to keep consistent spacing.
// 9. Don’t allow buttons to have underlines; it kinda ruins the illusion.


$color-btn:                             $color-page-text;
$color-border:                          $color-page-text;
$color-btn-background:                  #fff;
$color-btn-hover:                       #fff;
$color-btn-background-hover:            $color-page-text;

$padding-btn: $base-spacing-unit;

.btn {
    display: inline-block;              // [1]
    vertical-align: middle;             // [2]
    font: inherit;                      // [3]
    text-align: center;                 // [4]
    margin: 0;                          // [4]
    cursor: pointer;                    // [5]
    background-color: $color-btn-background;
    color: $color-btn;
    transition: $base-transition;

    white-space: nowrap;                // [7]
    overflow: hidden;
    text-overflow: ellipsis;

    padding-top: 0;                     // [4]
    padding-right: $padding-btn;        // [8]
    padding-bottom: 0;                  // [4]
    padding-left: $padding-btn;         // [8]
    line-height: 2.5;                   // [8]

    border-color: $color-border;
    border-style: solid;
    border-width: 3px;
    border-radius: 0;

    font-size: rem(24);
    font-weight: $font-weight-bold;

    // Ensures that buttons with too much text don't overflow
    // past page width on smaller screens. This ensures text
    // is truncated with no word wrap and text overflow ellipsis
    @include small {
        max-width: 100%;
    }

    &,
    &:hover {
        text-decoration: none;         // [9]
    }

    @include hover {
        outline: none;
        color: $color-btn-hover;
        background-color: $color-btn-background-hover;
    }

    &[disabled],
    &.is-disabled {
        pointer-events: none;
        cursor: default;
        opacity: .5 !important;
    }

}

.btn--small {
    padding-right: $padding-btn / 1.5;
    padding-left: $padding-btn / 1.5;
    line-height: 2;
}

.btn--wide {
    padding-right: $padding-btn * 2;
    padding-left: $padding-btn * 2;
}

.btn--block {
    width: 100%;
}

.btn--block\@small {
    @include small {
        width: 100%;
    }
}
