// ----------------------------------------------------------------------------
// Lazyloading images
//
// To makes sure that any image captions get faded in alongside the lazyloaded
// image this class and any data hooks should be applied to that element also.
//
// ----------------------------------------------------------------------------

.lazyload,
.lazyloading {
    opacity: 0;
}

.lazyloaded,
.no-js .lazyload {
    opacity: 1;
    transition: opacity .45s;
}
