.rich-text {
    p {
        font-size: rem(16);

        @include medium {
            font-size: rem(18);
        }

        @include large {
            font-size: rem(20);
        }
    }

    a {
        text-decoration: underline;
    }

    ul,
    ol {
        margin-left: $base-spacing-unit * 2;
    }

    br + br {
        display: none;
    }
}
