.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
}

svg > use {
    fill: currentColor;
}

.icon--black {
    color: $color-black;
}

.icon--white {
    color: $color-white;
}

.icon--leaf {
    width: 33px;
    height: 13px;
}

.icon--springload-muted {
    width: 349px;
    height: 57px;
}
