/*---------------*/
/***** Zoe *****/
/*---------------*/

.card__footer {
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 3.75em;
    background: #fff;
    color: #3c4a50;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

.card__footer span {
    float: right;
    color: #3c4a50;
    font-size: 1.4em;
}


.card__footer span {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,200%,0);
    transform: translate3d(0,200%,0);
}

.card a span::before {
    display: inline-block;
    padding: 8px 10px;
    font-family: 'feathericons';
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card:hover .card__footer,
.card:hover .card__footer span {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.card:hover .card__footer span:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.card:hover .card__footer span:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.card:hover .card__footer span:first-child {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
