.card:before,
.card:after {
    content: '';
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    opacity: 0;
    transition: opacity 0.4s, transform 0.4s;
}

.card {
    position: relative;
    padding: 0;
    min-height: 340px;
    transition: transform 0.2s;
}

.card:before {
    border-top: 1px solid #7DC265;
    border-bottom: 1px solid #7DC265;
    transform: scale(0,1);
}

.card:after {
    border-left: 1px solid #7DC265;
    border-right: 1px solid #7DC265;
    transform: scale(1,0);
}

.card:hover {
    transform: scale(1.1);

    &:before,
    &:after {
        opacity: 1;
        transform: scale(1);
    }
}

.card__container {
    position: absolute;
    padding: 2rem;
}
