<!doctype html>
<!--[if IE 8]> <html class="ie8 no-js" lang="en"><![endif]-->
<!--[if !IE]><!--><html class="no-js" lang="en"><!--<![endif]--><head>
    <!-- Made by Springload -->
    <meta charset="utf-8">
    <title>{{ site.name }} - {{ meta.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include "core/includes/favicons.html" %}
    <link rel="stylesheet" href="{{ site.paths.css }}/site.css?{{ extensions.cachebuster }}" />
</head>
<body>
    {% block svgs %}
        <div style="display: none;">
            {% include "core/includes/svg.html" %}
        </div>
    {% endblock %}

    <div class="page-header">
        <div class="content-width u-auto">
            <div class="gutters">
                <svg class="i-springload">
                    <title>Springload</title>
                    <use xlink:href="#i-springload"></use>
                </svg>
                <ul class="nav-primary width-3/4@medium">
                    <li class="nav-primary__link"><a href="#">Projects</a></li>
                    <li class="nav-primary__link"><a href="#">Events</a></li>
                    <li class="nav-primary__link"><a href="#">Blogs</a></li>
                    <li class="nav-primary__link"><a href="#">GitHub</a></li>
                    <li class="u-muted nav-primary__link"><a href="#">We're Hiring</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="content-width u-auto">
            <div class="gutters">
                <div class="line-length headline-container u-auto">
                    <h1 class="headline">{{ meta.title }}</h1>
                    <h3 class="headline__subheading u-text-center">We build digital websites and applications that drive measurable change and help our clients' businesses grow. Let us help yours!</h3>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="content-width">
                <div class="gutters">
                    <h3>Featured projects</h3>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="content-width">
                <div class="gutters">
                    <h3>Upcoming events</h3>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="content-width">
                <div class="gutters">
                    <h3>Open Source Projects</h3>
                </div>
            </div>
        </div>


        {% block content %}{% endblock %}

        <div id="main"></div>

        <footer class="t-grey">
            <div class="page-width page-width--narrow section">
                <div class="grid ">
                    <div class="grid-item">
                      <h5>Company</h5>
                      <ul class="list-inline">
                        <li><a href="https://www.springload.co.nz/">About</a></li>
                        <li><a href="https://www.springload.co.nz/jobs/">Jobs</a></li>
                        <li><a href="https://www.springload.co.nz/contact-us/">Contact</a></li>
                      </ul>
                    </div>

                    <div class="grid-item">
                      <h5>Events</h5>
                      <ul class="list-inline">
                        <li><a href="https://www.meetup.com/Wellington-Wagtail-CMS-Meetup/">Wellington Wagtail CMS Meetup</a></li>
                        <li><a href="https://www.meetup.com/React-Wellington/">React Wellington Meetup</a></li>
                        <li><a href="https://www.meetup.com/Oulu-Web-Development/">Oulu Web Development</a></li>
                      </ul>
                    </div>

                    <div class="grid-item">
                      <h5>Discover</h5>
                      <ul class="list-inline">
                        <li><a href="https://www.springload.co.nz/blog/">Blog</a></li>
                        <li><a href="https://github.com/springload">GitHub</a></li>
                        <li><a href="https://www.twitter.com/springloadnz">Twitter</a></li>
                      </ul>
                    </div>
                </div>

            </div>


            <svg xmlns="http://www.w3.org/2000/svg" class="i i-springload"><title>Springload</title><use xlink:href="#i-springload"></use></svg>
        </footer>
    </div>

    <script async src="{{ site.paths.js }}/site.js?{{ extensions.cachebuster }}"></script>

    <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-XXXXXXX-X','auto');
        ga('require', 'eventTracker');
        ga('require', 'outboundLinkTracker');
        ga('send','pageview');
    </script>
    <script async src="https://www.google-analytics.com/analytics.js"></script>
</body>
</html>
