{% import "ricky.html" as ricky %}

<!doctype html>
<!--[if IE 8]> <html class="ie8 no-js" lang="en"><![endif]-->
<!--[if !IE]><!--><html class="no-js" lang="en"><!--<![endif]--><head>
    <!-- Made by Springload -->
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include "core/includes/twitter_card.html" %}

    {% include "core/includes/favicons.html" %}
    <link rel="stylesheet" href="{{ site.paths.css }}/site.css?{{ extensions.cachebuster }}" />

    <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-XXXXXXX-X','auto');
        ga('require', 'eventTracker');
        ga('require', 'outboundLinkTracker');
        ga('send','pageview');
    </script>
    <script async src="https://www.google-analytics.com/analytics.js"></script>
</head>
<body class="{% block body_class %}{% endblock %}">

    {% block svgs %}
        <div style="display: none;">
            {% include "core/includes/svg.html" %}
        </div>
    {% endblock %}

    {% block header %}
        {% include "core/includes/header.html" %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
        {% include "core/includes/footer.html" %}
    {% endblock %}

</body>

<script async src="{{ site.paths.js }}/site.js?{{ extensions.cachebuster }}"></script>
</html>
