{% extends "base.html" %}

{% block body_class %}homepage t-clearsky{% endblock %}

{% block content %}
    <div class="section content-width u-text-center">
        <div class="gutters">
            <div class="line-length headline-container u-auto">
                <a class="u-block headline" href="https://www.springload.co.nz/">
                    {{ ricky.icon(icon="springload-muted", title="Springload") }}
                </a>
                <h1 class="headline">{{ meta.title }}</h1>
            </div>
        </div>
    </div>

    <div class="section content-width u-text-center">
        <div class="gutters">
            <h2>Featured projects</h2>

            <div class="grid">
                {% for project in data.featured_projects %}
                    <div class="grid-item card card--centered" data-project data-project-title="{{ project.title }}">
                        <a href="{{ project.href }}">
                            <h3>{{ project.title }}</h3>
                            <span>
                                <div data-icon></div>
                                {{ project.star_count }}
                            </span>
                            <span>{{ project.fork_count }}</span>
                            <p>{{ project.description }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="section content-width u-text-center">
        <div class="gutters">
            <h2>Open Source projects</h2>

            <div data-latest-projects></div>
        </div>
    </div>

    <div class="page-width section">
        <div class="grid">
        {% for blog_post in data.blog_posts %}

            {% if data.blog_posts.image %}
                {% set has_image = true %}
            {% endif %}

            <div class="grid-item">
                <a href="{{ blog_post.href }}">
                    {% if has_image %}
                        <img src="{{ blog_post.image }}">
                    {% endif %}
                    <h3>{{ blog_post.title }}</h3>
                    <span>{{ blog_post.author }}</span>
                    <span>{{ blog_post.date }}</span>
                    <p>{{ blog_post.excerpt }}</p>
                </a>
            </div>
        {% endfor %}
    </div>

    <div data-streamgraph></div>
{% endblock %}
