{% extends "base.html" %}

{% block body_class %}t-clearsky{% endblock %}

{% block content %}
    <div class="section content-width u-text-center">
        <div class="gutters">
            <div class="line-length headline-container u-auto">
                <div>
                    {{ ricky.icon(icon=data.theme.icon) }}
                </div>
                <h1>{{ meta.title }}</h1>
                <p>{{ data.theme.description|markdown }}</p>
            </div>
        </div>
    </div>

    <div class="section content-width u-text-center">
        <div class="gutters">

            <div class="section">
                <h2>Featured {{ data.theme.name }} projects</h2>

                <div class="grid-flex">
                    {% for project in site.projects %}
                        {% if project.themes and data.theme.name in project.themes %}
                            {% if project.logo %}
                                {% set image = project.logo %}
                            {% else %}
                                {% set image = "placeholder-logo.svg" %}
                            {% endif %}
                            <div class="card grid-item width-full width-3/10@medium" data-project data-project-title="{{ project.title }}">
                                <div class="card__container">
                                    <a class="card__link" href="{{ project.href }}">
                                        <div class="card__picture__wrapper">
                                            <img class="card__picture" src="{{ site.paths.images }}/{{ image }}" aria-role="presentation" />
                                        </div>
                                        <h3 class="card__title">{{ project.title }}</h3>
                                        <p class="card__description">{{ project.description }}</p>
                                    </a>
                                    <a class="card__footer" href="https://github.com/{{ project.full_name }}">
                                        <span class="icon-text card__stars">{{ project.star_count }} {{ ricky.icon(icon="star", title="GitHub stars") }}</span>
                                        <span class="icon-text card__forks">{{ project.fork_count }} {{ ricky.icon(icon="fork", title="GitHub forks") }}</span>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
